
.product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
    cursor: pointer; /* Cambia el cursor a una mano */
}




.card-fixed-size {
    width: 100%;
    height: 220px; /* Ajusta la altura según tus necesidades */
    display: flex;
    flex-direction: column;
}

.card-fixed-size img {
    height: 220px;
    object-fit: cover;
}

.card-fixed-size .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icono-home {
    height: 80px; /* Ajusta el tamaño según tus necesidades */
    width: auto;

}



.icono-carrito {
    height: 40px; /* Ajusta el tamaño según tus necesidades */
    width: auto;
}






/*inicio estilo de factura*/
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.invoice-container {
    max-width: 800px;
    background: white;
    padding: 20px;
    margin: 20px auto;
    border: 3px solid #ddd;
    border-radius: 10px;
}

.logo-box {
    text-align: center;
    border: 3px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.invoice-header {
    text-align: center;
    margin-bottom: 20px;
}

.contact-info p {
    margin: 0;
    font-size: 14px;
}

.table thead {
    background: #000;
    color: #fff;
}

.table tbody td {
    height: 35px;
}

.footer-text {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.observaciones-box {
    border: 3px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    background: #f8f8f8;
}


.table table-bordered {
    border: 3px solid #ddd;
}
/*fin estilo de factura*/




/* Estilos para sombras */
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}

/* Estilos para la paginación (ya estaban aquí) */
.pagination-ys {
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination-ys table > tbody > tr > td {
        display: inline;
        padding: 8px 12px;
        text-decoration: none;
        color: #007bff;
        background-color: #fff;
        border: 1px solid #ddd;
    }

        .pagination-ys table > tbody > tr > td > span {
            z-index: 3;
            color: #fff;
            cursor: default;
            background-color: #007bff;
            border-color: #007bff;
        }
